<div class="landing-page">
    <div class="wrapper">
        <div class="page-header">
            <img src="../assets/img/blob.png" class="path">
            <img src="../assets/img/path2.png" class="path2">
            <img src="../assets/img/triunghiuri.png" class="shapes triangle">
            <img src="../assets/img/waves.png" class="shapes wave">
            <img src="../assets/img/patrat.png" class="shapes squares">
            <img src="../assets/img/cercuri.png" class="shapes circle">


            <div class="content-center mt-5">
                    <div class="row row-grid justify-content-center align-items-center text-center mt-5">

                        <div class="col-lg-8 mt-5 px-5"  style="background: url(../assets/patterns/Taieri.svg) ;" >
                            <div class="bluemoon"></div>
                            <h1 class="hit-the-floor" style="position: absolute; left: 70%; top: 20%">月亮</h1>
                            <img src="../../../../assets/img/moontree.png" style="height: auto;"/>
                        </div>

                        <div class="col-lg-4 px-5">
                            <h1 class="hit-the-floor">Moon</h1>
                            <h5 class="text-center glass-container card highlightmarker">
                                <span class="highlightmarker">... Once in a blue moon ....</span>
                            </h5>
                            
                            <p class="text-info">Just like the moon, I go through phases</p>
                            <p class="text-warning">Be wild Moon child</p>
                            <p class="text-primary">Transformation</p>
                            
                            <h1 class="hit-the-floor" >달</h1>
                        </div>

                    </div>
            </div>

        </div>


        <section class="section section-lg">

            <img src="../assets/img/path4.png" class="path">
            <div class="container">
                <div class="content-center">

                    <h1 class="hit-the-floor">Moon Phases</h1>
                   
                    <div class="row row-grid justify-content-center align-items-center text-center">

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('New Moon', 'DAY - 0', 'gold', 'fas fa-moon', 0)" [ngStyle]="{'background': todayMoonDay == 0 ? 'gold': ''}" class="icon-big text-center snowbtn fa-purple-btn">
                                <img src="../../../../assets/img/moon/day0.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Crescent', 'DAY - 1', 'gold', 'fas fa-moon', 1)" [ngStyle]="{'background': todayMoonDay == 1 ? 'gold': ''}" class="icon-big text-center snowbtn fa-purple-btn">
                                <img src="../../../../assets/img/moon/day1.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Crescent', 'DAY - 2', 'gold', 'fas fa-moon', 2)" [ngStyle]="{'background': todayMoonDay == 2 ? 'gold': ''}" class="icon-big text-center snowbtn fa-purple-btn">
                                <img src="../../../../assets/img/moon/day2.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Crescent', 'DAY - 3', 'gold', 'fas fa-moon', 3)" [ngStyle]="{'background': todayMoonDay == 3 ? 'gold': ''}" class="icon-big text-center snowbtn fa-purple-btn">
                                <img src="../../../../assets/img/moon/day3.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>


                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Crescent', 'DAY - 4', 'gold', 'fas fa-moon', 4)" [ngStyle]="{'background': todayMoonDay == 4 ? 'gold': ''}" class="icon-big text-center snowbtn fa-purple-btn">
                                <img src="../../../../assets/img/moon/day4.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Crescent', 'DAY - 5', 'gold', 'fas fa-moon', 5)" [ngStyle]="{'background': todayMoonDay == 5 ? 'gold': ''}" class="icon-big text-center snowbtn fa-purple-btn">
                                <img src="../../../../assets/img/moon/day5.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Crescent', 'DAY - 6', 'gold', 'fas fa-moon', 6)" [ngStyle]="{'background': todayMoonDay == 6 ? 'gold': ''}" class="icon-big text-center snowbtn fa-purple-btn">
                                <img src="../../../../assets/img/moon/day6.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('First Quarter', 'DAY - 7', 'white', 'fas fa-moon', 7)" [ngStyle]="{'background': todayMoonDay == 7 ? 'gold': ''}" class="icon-big text-center snowbtn fa-blue-btn">
                                <img src="../../../../assets/img/moon/day7.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>


                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Gibbous', 'DAY - 8', 'lightgreen', 'fas fa-moon', 8)" [ngStyle]="{'background': todayMoonDay == 8 ? 'gold': ''}" class="icon-big text-center snowbtn fa-green-btn">
                                <img src="../../../../assets/img/moon/day8.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Gibbous', 'DAY - 9', 'lightgreen', 'fas fa-moon', 9)" [ngStyle]="{'background': todayMoonDay == 9 ? 'gold': ''}" class="icon-big text-center snowbtn fa-green-btn">
                                <img src="../../../../assets/img/moon/day9.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Gibbous', 'DAY - 10', 'lightgreen', 'fas fa-moon', 10)" [ngStyle]="{'background': todayMoonDay == 10 ? 'gold': ''}" class="icon-big text-center snowbtn fa-green-btn">
                                <img src="../../../../assets/img/moon/day10.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Gibbous', 'DAY - 11', 'lightgreen', 'fas fa-moon', 11)" [ngStyle]="{'background': todayMoonDay == 11 ? 'gold': ''}" class="icon-big text-center snowbtn fa-green-btn">
                                <img src="../../../../assets/img/moon/day11.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>


                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Gibbous', 'DAY - 12', 'lightgreen', 'fas fa-moon', 12)" [ngStyle]="{'background': todayMoonDay == 12 ? 'gold': ''}" class="icon-big text-center snowbtn fa-green-btn">
                                <img src="../../../../assets/img/moon/day12.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Gibbous', 'DAY - 13', 'lightgreen', 'fas fa-moon', 13)" [ngStyle]="{'background': todayMoonDay == 13 ? 'gold': ''}" class="icon-big text-center snowbtn fa-green-btn">
                                <img src="../../../../assets/img/moon/day13.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waxing Gibbous', 'DAY - 14', 'lightgreen', 'fas fa-moon', 14)" [ngStyle]="{'background': todayMoonDay == 14 ? 'gold': ''}" class="icon-big text-center snowbtn fa-green-btn">
                                <img src="../../../../assets/img/moon/day14.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Full Moon', 'DAY - 15', 'white', 'fas fa-moon', 15)" [ngStyle]="{'background': todayMoonDay == 15 ? 'gold': ''}" class="icon-big text-center snowbtn fa-blue-btn">
                                <img src="../../../../assets/img/moon/day15.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Gibbous', 'DAY - 16', 'pink', 'fas fa-moon', 16)" [ngStyle]="{'background': todayMoonDay == 16 ? 'gold': ''}" class="icon-big text-center snowbtn fa-pink-btn">
                                <img src="../../../../assets/img/moon/day16.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Gibbous', 'DAY - 17', 'pink', 'fas fa-moon', 17)" [ngStyle]="{'background': todayMoonDay == 17 ? 'gold': ''}" class="icon-big text-center snowbtn fa-pink-btn">
                                <img src="../../../../assets/img/moon/day17.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Gibbous', 'DAY - 18', 'pink', 'fas fa-moon', 18)" [ngStyle]="{'background': todayMoonDay == 18 ? 'gold': ''}" class="icon-big text-center snowbtn fa-pink-btn">
                                <img src="../../../../assets/img/moon/day18.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Gibbous', 'DAY - 19', 'pink', 'fas fa-moon', 19)" [ngStyle]="{'background': todayMoonDay == 19 ? 'gold': ''}" class="icon-big text-center snowbtn fa-pink-btn">
                                <img src="../../../../assets/img/moon/day19.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Gibbous', 'DAY - 20', 'pink', 'fas fa-moon', 20)" [ngStyle]="{'background': todayMoonDay == 20 ? 'gold': ''}" class="icon-big text-center snowbtn fa-pink-btn">
                                <img src="../../../../assets/img/moon/day20.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Gibbous', 'DAY - 21', 'pink', 'fas fa-moon', 21)" [ngStyle]="{'background': todayMoonDay == 21 ? 'gold': ''}" class="icon-big text-center snowbtn fa-pink-btn">
                                <img src="../../../../assets/img/moon/day21.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>


                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Last Quarter', 'DAY - 22', 'white', 'fas fa-moon', 22)" [ngStyle]="{'background': todayMoonDay == 22 ? 'gold': ''}" class="icon-big text-center snowbtn fa-blue-btn">
                                <img src="../../../../assets/img/moon/day22.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Crescent', 'DAY - 23', 'orange', 'fas fa-moon', 23)" [ngStyle]="{'background': todayMoonDay == 23 ? 'gold': ''}" class="icon-big text-center snowbtn fa-orange-btn">
                                <img src="../../../../assets/img/moon/day23.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Crescent', 'DAY - 24', 'orange', 'fas fa-moon', 24)" [ngStyle]="{'background': todayMoonDay == 24 ? 'gold': ''}" class="icon-big text-center snowbtn fa-orange-btn">
                                <img src="../../../../assets/img/moon/day24.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>


                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Crescent', 'DAY - 25', 'orange', 'fas fa-moon', 25)" [ngStyle]="{'background': todayMoonDay == 25 ? 'gold': ''}" class="icon-big text-center snowbtn fa-orange-btn">
                                <img src="../../../../assets/img/moon/day25.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Crescent', 'DAY - 26', 'orange', 'fas fa-moon', 26)" [ngStyle]="{'background': todayMoonDay == 26 ? 'gold': ''}" class="icon-big text-center snowbtn fa-orange-btn">
                                <img src="../../../../assets/img/moon/day25.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Crescent', 'DAY - 27', 'orange', 'fas fa-moon', 27)" [ngStyle]="{'background': todayMoonDay == 27 ? 'gold': ''}"  class="icon-big text-center snowbtn fa-orange-btn">
                                <img src="../../../../assets/img/moon/day25.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Waning Crescent', 'DAY - 28, 29', 'red', 'fas fa-moon', 28)" [ngStyle]="{'background': todayMoonDay == 28 ? 'gold': ''}" class="icon-big text-center snowbtn fa-red-btn">
                                <img src="../../../../assets/img/moon/day28.png" style="width:77px; height: auto;" class="img-fluid" />
                            </a>
                        </div>

                       
                    </div>

                </div>
            </div>

        </section>

    </div>
</div>