<div class="profile-page">
    <div class="wrapper">
        <div class="page-header">
            <img src="../assets/img/dots.png" class="dots">
            <img src="../assets/img/path4.png" class="path">
            <div class="container align-items-center">

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h1 class="profile-title text-left">Xiao Yuan</h1>
                        <h5 class="text-on-back">{{ 'about_me' | translate }}</h5>
                        <p class="profile-description">
                            <span class="highlightmarker">{{ 'about_intro' | translate }}
                                <i class="fas fa-book-open"></i></span> <br />
                            {{ 'about_message' | translate }}
                        </p>
                        <div class="btn-wrapper profile pt-2">

                            <!-- <a class="btn btn-icon btn-success btn-round mb-2" target="_blank"
                                href="https://linktr.ee/xiaoyuanlv" data-toggle="tooltip"
                                data-original-title="Link Tree">
                                <i class="fas fa-globe"></i>
                            </a> -->

                            <span class="dropdown px-2">
                                <a class="btn btn-primary btn-round dropdown-toggle" data-toggle="tooltip"
                                    data-original-title="Language" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-language mr-2"></i> {{ translate.currentLang }}
                                </a>
                                <div class="dropdown-menu dropdown-with-icons">
                                    <button class="dropdown-item" *ngFor="let language of translate.getLangs()"
                                        (click)='switchLang(language)'>
                                        <i class="tim-icons icon-paper"></i> {{ language }}
                                    </button>
                                </div>
                            </span>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                        <div class="card card-profile card-plain">
                            <div class="card-header">
                                <img src="../../../../assets/img/profile.png"
                                    class="img-center img-fluid rounded-circle">
                                <h4 class="title"> {{ 'about_title_name' | translate }} </h4>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-tabs nav-tabs-daynight justify-content-center">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#linka">
                                            <i class="fas fa-user-astronaut"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#linkb">
                                            <i class="fas fa-school"></i>
                                        </a>
                                    </li>
                                  

                                </ul>
                                <div class="tab-content tab-subcategories">
                                    <div class="tab-pane active" id="linka">
                                        <div class="table-responsive">
                                            <table class="table table-hover " id="plain-table">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-user highlightmarker"></i> &nbsp; <span
                                                                class="highlightmarker"> {{ 'name' | translate }} ...
                                                            </span> &nbsp;
                                                            <span class="badge badge-white mr-2"> {{ 'my_name' |
                                                                translate }} </span> <span
                                                                class="badge badge-white mr-2"> {{ 'my_chinese_name' |
                                                                translate }} </span>

                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-comment highlightmarker"></i> &nbsp;
                                                            <span class="highlightmarker"> {{ 'call_me' | translate }}
                                                                ... </span> &nbsp;
                                                            <span class="badge badge-white">{{ 'my_nick_name' |
                                                                translate }}</span>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-birthday-cake highlightmarker"></i> &nbsp;
                                                            <span class="highlightmarker"> {{ 'birthday' | translate }}
                                                                ... </span> &nbsp;
                                                            <span class="badge badge-white">{{ 'my_birthday' | translate
                                                                }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-user-astronaut highlightmarker"></i> &nbsp;
                                                            <span class="highlightmarker"> {{ 'race' | translate }} ...
                                                            </span> &nbsp;
                                                            <span class="badge badge-white"> {{ 'chinese-myanmar' |
                                                                translate }} </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-dharmachakra highlightmarker"></i> &nbsp;
                                                            <span class="highlightmarker"> {{ 'religion' | translate }}
                                                                ... </span> &nbsp;
                                                            <span class="badge badge-white">{{ 'buddhism' | translate
                                                                }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-carrot highlightmarker"></i> &nbsp;
                                                            <span class="highlightmarker"> {{ 'food' | translate }}
                                                                ... </span> &nbsp;
                                                            <span class="badge badge-white">{{ 'vegan' | translate
                                                                }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-genderless highlightmarker"></i> &nbsp;
                                                            <span class="highlightmarker"> {{ 'gender' | translate }}
                                                                ... </span> &nbsp;
                                                            <span class="badge badge-white">{{ 'non-binary' | translate
                                                                }}</span>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="linkb">
                                        <div class="table-responsive">
                                            <table class="table table-hover " id="plain-table">

                                                <tbody>

                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-school highlightmarker"></i> &nbsp; <span
                                                                class="highlightmarker">{{ 'high_school' | translate }}
                                                                ...</span> &nbsp; <p> {{ 'my_high_school' | translate }}
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-graduation-cap highlightmarker"></i> &nbsp;
                                                            <span class="highlightmarker">{{ 'graduate' | translate }}
                                                                ...</span> &nbsp; <p class="">B.C.Tech(Hons) *
                                                                University of Computer Studies Yangon (UCSY)
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-certificate highlightmarker"></i> &nbsp;
                                                            <span class="highlightmarker">{{ 'diploma' | translate }}
                                                                ...</span> &nbsp;
                                                            <p class="highlightmarker"> International Advanced Diploma
                                                                in Computer Studies (IADCS) * NCC Education </p>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <i class="fas fa-language highlightmarker"></i> &nbsp; <span
                                                                class="highlightmarker">{{ 'language' | translate }}
                                                                ...</span> <br /> <span
                                                                class="badge badge-white mr-2">{{ 'burmese' | translate
                                                                }}</span> <span class="badge badge-white mr-2">{{ 'korean' | translate
                                                                }}</span> <span class="badge badge-white mr-2">{{
                                                                'chinese' | translate }}</span> <span
                                                                class="badge badge-white mr-2">{{ 'english' | translate
                                                                }}</span>
                                                            
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6">
                        <div class="row justify-content-center align-items-center">
                            <img alt="..." src="../../../assets/img/cycle.png" class="w-full rotate"
                                style="width: 55%; height: 55%;" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h1 class="profile-title text-left">{{ 'line' | translate }}</h1>
                        <h5 class="text-on-back">{{ 'time' | translate }}</h5>

                        <div class="table-responsive">
                            <table class="table tablesorter " id="plain-table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th class="header">
                                            <span class="highlightmarker">
                                                <i class="fas fa-clock"></i> ... {{ 'in_this_life_time' | translate }}
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <i class="fas fa-star highlightmarker"></i> &nbsp;
                                            <span class="highlightmarker"> 2022 ... </span> &nbsp; <span
                                                class="text-description"> Brave as Tiger  </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fas fa-star-half-alt highlightmarker"></i> &nbsp;
                                            <span class="highlightmarker"> 2021 ... </span> &nbsp; <span
                                                class="text-description"> {{ 'coding_with_stars' | translate }} </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fas fa-palette highlightmarker"></i> &nbsp;
                                            <span class="highlightmarker"> 2018 - 2020 … </span> &nbsp; <span
                                                class="text-description"> {{ 'work_on_some_creative_projects_solo' |
                                                translate }} </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fas fa-laptop-code highlightmarker"></i> &nbsp;
                                            <span class="highlightmarker"> 2012 - 2016 … </span> &nbsp; <span
                                                class="text-description"> {{ 'work_as_programmer_at_companies' |
                                                translate }} </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fas fa-graduation-cap highlightmarker"></i> &nbsp;
                                            <span class="highlightmarker"> 2006 - 2011 … </span> &nbsp; <span
                                                class="text-description"> {{ 'study_about_computer' | translate }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fas fa-school highlightmarker"></i> &nbsp;
                                            <span class="highlightmarker"> 1995 - 2005 … </span> &nbsp; <span
                                                class="text-description"> {{ 'high_school_life' | translate }} </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fas fa-baby highlightmarker"></i> &nbsp;
                                            <span class="highlightmarker"> 1989 … </span> &nbsp; <span
                                                class="text-description"> {{ 'i_was_born' | translate }} </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <!-- <img alt="..." src="../../../assets/img/train.png"
            class="w-full align-bottom rounded-t-lg px-5 mt-5" style="width: 55%; height: auto;" />
            <br/> -->
        </div>
       
       
    </div>
</div>