<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <span class="h1 highlightmarker title mb-2">XIAO YUAN LV•</span>
        <!-- <span class="h1 d-md-none d-block title mb-2">XIAO YUAN LV•</span> -->
        <!-- <h5 class="highlightmarker text-center mt-2">စိတ်ဓာတ် • စည်းကမ်း • ပညာ</h5> -->
     
       
      </div>
      <div class="col-md-2">
        <ul class="nav">
          <li class="nav-item">
            <a [routerLink]="[ '/' ]" class="nav-link">
              <i class="fas fa-comment mr-2"></i> Hello
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[ '/me' ]" class="nav-link">
              <i class="fas fa-address-card mr-2"></i> Readme
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[ '/contact' ]" class="nav-link">
              <i class="fas fa-mail-bulk mr-2"></i> Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="nav">
          <li class="nav-item">
            <a [routerLink]="[ '/privacy' ]" class="nav-link">
              <i class="fas fa-user-secret mr-2"></i> Privacy
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[ '/terms' ]" class="nav-link">
              <i class="fas fa-balance-scale mr-2"></i> Terms
            </a>
          </li>
         
        </ul>
      </div>
      <div class="col-md-4 mt-2 text-center">
        <i class="fas fa-heartbeat highlightmarker mb-2" style="font-size: 5em;"></i>
        <h5 class="highlightmarker text-center">"Being Fearless"</h5>
      </div>

      <div class="col-md-12 mt-5 text-center">
        <p class="highlightmarker text-center"  style="font-size: 0.7em;">Copyright &copy; 2022 by Xiao Yuan Lv </p>
      </div>
    </div>
  </div>
</footer>