<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="title">XIAO YUAN LV•</h1>
        <h5 class="highlightmarker text-center">"I am being Fearless" <br/> "I am being me" <i class="fas fa-star" style="font-size: 1.7em;"></i></h5>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a [routerLink]="[ '/' ]" class="nav-link">
              <i class="fas fa-comment mr-2"></i> Hello
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[ '/me' ]" class="nav-link">
              <i class="fas fa-address-card mr-2"></i> Readme
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[ '/contact' ]" class="nav-link">
              <i class="fas fa-mail-bulk mr-2"></i> Contact
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="nav">
          <li class="nav-item">
            <a [routerLink]="[ '/privacy' ]" class="nav-link">
             <i class="fas fa-user-secret mr-2"></i> Privacy Policy
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[ '/terms' ]"  class="nav-link">
              <i class="fas fa-balance-scale mr-2"></i> Terms of Service
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <img src="../../../../assets/img/qrcode.svg" width="210" height="auto" />
      </div>
    </div>
  </div>
</footer>