<div class="landing-page">
    <div class="wrapper">
        <div class="page-header">
            <img src="../assets/img/blob.png" class="path">
            <img src="../assets/img/path2.png" class="path2">
            <img src="../assets/img/triunghiuri.png" class="shapes triangle">
            <img src="../assets/img/waves.png" class="shapes wave">
            <img src="../assets/img/patrat.png" class="shapes squares">
            <img src="../assets/img/cercuri.png" class="shapes circle">


            <div class="content-center mt-5">
                    <div class="row row-grid justify-content-center align-items-center text-center mt-5">
                        <div class="col-lg-12 px-5">
                            <h1 class="hit-the-floor"><i class="fas fa-book"></i></h1>
                            <h1 class="hit-the-floor">Bookmark</h1>
                            <h5 class="text-center glass-container card highlightmarker">
                                <span class="highlightmarker">... HighLight the words ....</span>
                            </h5>
                        </div>

                    </div>
            </div>

        </div>


        <section class="section section-lg">

            <img src="../assets/img/path4.png" class="path">
            <div class="container">
                <div class="content-center text-center">

                    <h1 style="font-size: 5em;">
                        <i class="fas fa-bookmark text-info"></i>
                        <i class="fas fa-bookmark text-success"></i>
                        <i class="fas fa-bookmark text-primary"></i>
                        <i class="fas fa-bookmark text-warning"></i>
                        <i class="fas fa-bookmark text-danger"></i>
                    </h1>
                   
                    <div class="row row-grid justify-content-center align-items-center text-center">

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        We are our own architect
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-music"></i> Buddhism</span>
                                </p>

                            </div>
                        </div>



                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        Being a great man means living without chains
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-film"></i> Bilal: A New Breed Of Hero</span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                         This is my story. It will go the way I want it... or I will end it here!
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-primary"><i class="fas fa-gamepad"></i> Final Fantasy X</span>
                                </p>

                            </div>
                        </div>
                        


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-danger"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                       Now, this is it. Now is the time to choose Die and be free of pain? or live and fight your sorrow. Now is the time to shape your stories. Your fate is in your hand.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-danger"><i class="fas fa-gamepad"></i> Final Fantasy X</span>
                                </p>

                            </div>
                        </div>



                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-warning"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                      No matter how dark the night, the morning always comes.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-warning"><i class="fas fa-gamepad"></i> Final Fantasy X</span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-warning"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        We are only human
                                        It's okay to feel hopeless and lost
                                        僕を信じて
                                        But that doesn't mean you've lost
                                        The battle can't be won without you
                                        僕を信じて
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-warning"><i class="fas fa-music"></i> Live Your Life - Day 6 </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        I will write my own story in my own way. I will lead my own way.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-primary"><i class="fas fa-heart"></i> Xiao Yuan Lv </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        What a caterpillar calls the end of the world we call a butterfly
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-primary"><i class="fas fa-heart"></i> Eckhart Tolle, The Power of Now </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        There's time to be silent and there's time to speak.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-info"><i class="fas fa-heart"></i> Aung San Suu Kyi </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-success"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        You should never let your fears prevent you from doing what you know is right.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-success"><i class="fas fa-heart"></i> Aung San Suu Kyi </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                       In a gentle way, you can shake the world
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-primary"><i class="fas fa-heart"></i> Mahatma Gandhi </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                       Do not pray for an easy life, pray for the strength to endure a difficult one.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-primary"><i class="fas fa-heart"></i> Burce Lee </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                       You will continue to suffer if you have an emotional reaction to everything that is said to you. 
                                       True power is sitting back and observing everything with logic. If words control you that means everyone else can control you. Breathe and allow things to pass.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-primary"><i class="fas fa-heart"></i> Burce Lee </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-danger"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                       Always be yourself. express yourself, have faith in yourself.<br/>
                                       Do not go out and look for a successful personality and duplicate it.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-danger"><i class="fas fa-heart"></i> Burce Lee </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        What a caterpillar calls the end of the world we call a butterfly
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-primary"><i class="fas fa-heart"></i> Eckhart Tolle, The Power of Now </span>
                                </p>

                            </div>
                        </div>




                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-danger"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        I could feel the fear inside of me now. But I will feel it and do it anyway. I have to finish what I started.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-danger"><i class="fas fa-heart"></i> Xiao Yuan Lv </span>
                                </p>

                            </div>
                        </div>




                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-danger"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        Even if we could turn back, we'd probably never end up where we started.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-danger"><i class="fas fa-book"></i> Haruki Murakami, 1Q84</span>
                                </p>

                            </div>
                        </div>
                        


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        Aomame raised her glass to the moon and asked, “Have you gone to bed with someone in your arms lately?” 
                                        The moon did not answer. 
                                        “Do you have any friends?” she asked. 
                                        The moon did not answer. 
                                        “Don’t you get tired of always playing it cool?”
                                        The moon did not answer.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-info"><i class="fas fa-book"></i> Haruki Murakami, 1Q84</span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center">
                                        It's just that you're about to do something out of the ordinary. And after you do something like that, the everyday look of things might seem to change a little. Things may look different to you than they did before. But don't let appearances fool you. There's always only one reality.
                                    </p>
                                </div>

                                <p > 
                                    <span class="badge badge-primary"><i class="fas fa-book"></i> Haruki Murakami, 1Q84</span>
                                </p>

                            </div>
                        </div>


                       
                    </div>

                </div>
            </div>

        </section>

    </div>
</div>