<div class="landing-page">
    <div class="wrapper">
        <div class="page-header">
            <img src="../assets/img/blob.png" class="path">
            <img src="../assets/img/path2.png" class="path2">
            <img src="../assets/img/triunghiuri.png" class="shapes triangle">
            <img src="../assets/img/waves.png" class="shapes wave">
            <img src="../assets/img/patrat.png" class="shapes squares">
            <img src="../assets/img/cercuri.png" class="shapes circle">


            <div class="content-center mt-5">
                    <div class="row row-grid justify-content-center align-items-center text-center mt-5">
                        <div class="col-lg-12 px-5">
                            <h1 class="hit-the-floor"><i class="fas fa-book"></i></h1>
                            <h1 class="hit-the-floor">Bookmark</h1>
                            <h5 class="text-center glass-container card highlightmarker">
                                <span class="highlightmarker">... the words I write here ....</span>
                            </h5>
                        </div>

                    </div>
            </div>

        </div>


        <section class="section section-lg">

            <img src="../assets/img/path4.png" class="path">
            <div class="container">
                <div class="content-center text-center">

                    <h1 style="font-size: 5em;">
                        <i class="fas fa-bookmark text-info"></i>
                        <i class="fas fa-bookmark text-success"></i>
                        <i class="fas fa-bookmark text-primary"></i>
                        <i class="fas fa-bookmark text-warning"></i>
                        <i class="fas fa-bookmark text-danger"></i>
                    </h1>
                   
                    <div class="row row-grid justify-content-center align-items-center text-center">

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                        လွတ်မြောက်သော စိတ်အတွက် အားလုံးကိို စွန့်လွှတ်ရမယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-dove"></i>  </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-warning"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                        အတ္တာဟိ အတ္တနော နာထော၊ ကောဟိ နာ ထော ပရော သိယာ
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-warning"><i class="fas fa-star"></i>  </span>
                                </p>

                            </div>
                        </div>

                        
                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-success"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                       စကားတွေအများကြီးပြောဖို့ မလိုပါဘူး စိတ်ထဲက ထုတ်လိုက်တာနဲ့ အားလုံးပြီးပါတယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-success"><i class="fas fa-heart"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                       ငုပ်မိသဲတိုင် တက်နိုင်ဖျားရောက်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-primary"><i class="fas fa-mountain"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-danger"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      ကံကိုယုံကြည်တယ် ဉာဏ်ကိုတော့ အားကိုးရမယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-danger"><i class="fas fa-road"></i>  </span>
                                </p>

                            </div>
                        </div>


                       
                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-success"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      သီလကို ခိုင်ခိုင်မြဲအောင် အသက်ထက်ဆုံးတိုင် ဆောက်တည်ရမယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-success"><i class="fas fa-mountain"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-danger"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      ကိုယ်နဲ့ အမြင်မတူတဲ့သူနဲ့ စကားများနေရင် ကိုယ်ရဲ့ ယုံကြည်ချက် မခိုင်မာလို့ပဲ ကိုယ်နဲ့အမြင်မတူတဲ့သူကိုမုန်းနေရင် ကိုယ့်မှာတရားမရှိလို့ပဲ တစ်ယောက်အမြင် တစ်ယောက်အကြိုက် မတူတဲ့သူတွေနဲ့ လိုက်ပြီး စကားများ ရန်ဖြစ်နေရင်တော့ ကိုယ့်မှာ ကိုယ်ပိုင်ဉာဏ် မရှိလို့ပါပဲ
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-danger"><i class="fas fa-wind"></i>  </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      သူတပါးနဲ့ အမြင် အကြိုက် ပုံစံ မတူတာတွေကို ကိုယ်ကလုပ်တော့မယ်ဆိုရင်
                                      <br/> ကိုယ့်ယုံကြည်ချက် ခိုင်မာနေရမယ်
                                      <br/> ကိုယ့်မှာ တရားရှိရမယ်
                                      <br/> ကိုယ့်မှာ မှန်ကန်တဲ့အသိဉာဏ် ရှိရမယ်
                                      
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-magic"></i>  </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-warning"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      အို့ဘယ်လူသား ကြောက်ဘူးလား
                                      <br/> သဟဲဖော်ညှိ သတ္တိရှိပြီ 
                                      <br/> ချစ်သည့်သဟာ ဇွဲလည်းပါ၍ 
                                      <br/> မကွာထပ်လောင်း ငယ်ကပေါင်းသည့် 
                                      <br/> ဆွေကောင်းလုံ့လ တူသကွသည့် 
                                      <br/> ငါ့တွင် သေချာအောင်ဖို့ရာသည့်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-warning"><i class="fas fa-mountain"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-danger"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      တစ်ခုခု ပြောလိုက်ရင် ခံစားလွယ်တတ်တဲ့ စိတ်ကို ပြင်လိုက်ပါ
                                      <br/> ရင့်ကျက်လာခြင်းရဲ့ အရသာကို 
                                      <br/> ခံစားတတ်လာလိမ့်မယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-danger"><i class="fas fa-heartbeat"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-success"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      ခံစားချက်တွေကို လျှော့ပြီး ကိုယ့်စိတ်ရဲ့သဘောကို သတိနဲ့လိုက်ပြီး ထိန်းလာနိုင်ပြီဆိုရင် အဲဒါကို
                                      <br/> "ရင့်ကျက်လာတယ်" လို့ခေါ်တယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-success"><i class="fas fa-heartbeat"></i>  </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      ဒီအချိန်ဟာ ခံစားချက်တွေနဲ့ အသက်ရှင်ရမှာ မဟုတ်တော့ဘူး
                                      <br/> ခံယူချက်တွေနဲ့ အသက်ရှင်ရမှာဖြစ်တယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-wind"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      ကိုယ့်ကိုကိုယ် တန်ဖိုးမထားဘူးဆိုရင်
                                      <br/> ဘယ်သူကမှ ကိုယ့်ကိုလာပြီး တန်ဖိုးထားမှာ မဟုတ်တော့ဘူး
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-primary"><i class="fas fa-moon"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-warning"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      ကိုယ့်ကိုကိုယ်လောက် ကိုယ့်အပေါ်  ဘယ်သူမှ သစ္စာမရှိပေးနိုင်ပါဘူး ဒီစကားကို ကိုယ့်ကိိုကိုယ် လက်မခံနိုင်သေးဘူးဆိုရင်တော့ သူတစ်ပါးဆီိက မျှော်လင့်ချက်တွေနဲ့ အသက်ရှင်နေရအုံးမှာပဲ
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-warning"><i class="fas fa-sun"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      ငိုနေတာလား တိတ်လိုက်ပါတော့ လိုချင်တာ မရလို့ ငိုရမယ့် အရွယ်က ကျော်ဖြတ်ခဲ့ပြီးပြီ ခံစားချက်တွေကို လျှော့ပြီး ရင့်ကျက်တည်ငြိမ်ရမယ့်အရွယ် ရောက်လာပြီလေ
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-star"></i>  </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-warning"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      သူနဲ့ မကင်းနိုင်သေးဘူးဆိုရင် ကိုယ်ကကောင်းအောင် နေပေးလိုက်ပါ သူက မကောင်းနိုင်ဘူး ဆိုရင်လည်း ကိုယ်ကပဲ ကင်းအောင် နေပေးလိုက်ပါ
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-warning"><i class="fas fa-key"></i>  </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                     ဖက်တွယ်ထားတဲ့ သံယောဇဥ်တွေ ရစ်ပက်ချည်နှောင်မှု လွန်ကဲလာသောအခါ ကိုယ်ပိုင်ပျော်ရွှင်မှုတွေ လွတ်လပ်ပေါ့ပါးမှုတွေ ဆုံးရှုံးလာတတ်တယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-primary"><i class="fas fa-moon"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                     ပိုးစိမ်းဖြူသည် အလင်းရောင် သေးသော်လည်း ကိုယ်ပိုင်အလင်းရောင် ဖြစ်သဖြင့် အချိန်မရွေး တောက်နိုင်သည် <br/> လမှာ မူကား အရောင်ပင်ကြီးသော်လည်း အရောင်ငှားဖြစ်၍ ဆန်းရ၊ ဆုတ်ရ၊ ကွယ်ရနှင့် ရှိ၏
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-primary"><i class="fas fa-star"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      စွန့်စားတဲ့သူမှပဲ တကယ် လွတ်လပ်တဲ့သူဖြစ်တယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-star"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                     ကိုယ်ပိုင်အလင်းနဲ့အကောင်းဆုံးဖြစ်ပါစေ
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-star"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-success"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      ပြတ်သားမှ ပြတ်သွားမယ် 
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-success"><i class="fas fa-star"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-success"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                     I will walk till the end of the journey. I won't run. I won't quit. I won't go back on my words. That's the way I live to walk the journey. 
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-success"><i class="fas fa-star"></i>  </span>
                                </p>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </section>

    </div>
</div>