<div class="landing-page">
    <div class="wrapper">
        <div class="page-header">
            <img src="../assets/img/blob.png" class="path">
            <img src="../assets/img/path2.png" class="path2">
            <img src="../assets/img/triunghiuri.png" class="shapes triangle">
            <img src="../assets/img/waves.png" class="shapes wave">
            <img src="../assets/img/patrat.png" class="shapes squares">
            <img src="../assets/img/cercuri.png" class="shapes circle">


            <div class="content-center mt-5">
                    <div class="row row-grid justify-content-center align-items-center text-center mt-5">
                        <div class="col-lg-12 px-5">
                            <h1 class="hit-the-floor"><i class="fas fa-book"></i></h1>
                            <h1 class="hit-the-floor">Bookmark</h1>
                            <h5 class="text-center glass-container card highlightmarker">
                                <span class="highlightmarker">... the words I write here ....</span>
                            </h5>
                        </div>

                    </div>
            </div>

        </div>


        <section class="section section-lg">

            <img src="../assets/img/path4.png" class="path">
            <div class="container">
                <div class="content-center text-center">

                    <h1 style="font-size: 5em;">
                        <i class="fas fa-bookmark text-info"></i>
                        <i class="fas fa-bookmark text-success"></i>
                        <i class="fas fa-bookmark text-primary"></i>
                        <i class="fas fa-bookmark text-warning"></i>
                        <i class="fas fa-bookmark text-danger"></i>
                    </h1>
                   
                    <div class="row row-grid justify-content-center align-items-center text-center">

                      

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-warning"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                        အတ္တာဟိ အတ္တနော နာထော၊ <br/> ကောဟိ နာ ထော ပရော သိယာ
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-warning"><i class="fas fa-star"></i>  </span>
                                </p>

                            </div>
                        </div>

                        
                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-success"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                       စကားတွေအများကြီးပြောဖို့ မလိုပါဘူး <br/> စိတ်ထဲက ထုတ်လိုက်တာနဲ့ <br/> အားလုံးပြီးပါတယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-success"><i class="fas fa-heart"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                       ငုပ်မိသဲတိုင် တက်နိုင်ဖျားရောက်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-primary"><i class="fas fa-mountain"></i>  </span>
                                </p>

                            </div>
                        </div>


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-danger"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      ကံကိုယုံကြည်တယ် <br/> ဉာဏ်ကိုတော့ အားကိုးရမယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-danger"><i class="fas fa-road"></i>  </span>
                                </p>

                            </div>
                        </div>


                       
                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-success"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      သီလကို ခိုင်မြဲအောင် <br/> အသက်ထက်ဆုံးတိုင် <br/> ဆောက်တည်ရမယ် <br/> ပေးသောစကား ကတိသစ္စာတည်ပါ
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-success"><i class="fas fa-star"></i>  </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      ဒီအချိန်ဟာ ခံစားချက်တွေနဲ့ <br/> အသက်ရှင်ရမှာ မဟုတ်တော့ဘူး
                                      <br/> ခံယူချက်တွေနဲ့ အသက်ရှင်ရမှာဖြစ်တယ်
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-wind"></i>  </span>
                                </p>

                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                      သူတပါးနဲ့ အမြင် အကြိုက် ပုံစံ မတူတာတွေကို ကိုယ်ကလုပ်တော့မယ်ဆိုရင်
                                      <br/> ကိုယ့်ယုံကြည်ချက် ခိုင်မာနေရမယ်
                                      <br/> ကိုယ့်မှာ တရားရှိရမယ်
                                      <br/> ကိုယ့်မှာ မှန်ကန်တဲ့အသိဉာဏ် ရှိရမယ်
                                      
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-magic"></i>  </span>
                                </p>

                            </div>
                        </div>

                        


                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-primary"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 text-center" style="line-height: 2.2em;">
                                     ပိုးစိမ်းဖြူသည်  <br/>အလင်းရောင် သေးသော်လည်း <br/> ကိုယ်ပိုင်အလင်းရောင် ဖြစ်သဖြင့် <br/> အချိန်မရွေး တောက်နိုင်သည် <br/> လမှာ မူကား အရောင်ပင်ကြီးသော်လည်း အရောင်ငှားဖြစ်၍ <br/> ဆန်းရ၊ ဆုတ်ရ၊ ကွယ်ရနှင့် ရှိ၏
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-primary"><i class="fas fa-moon"></i>  </span>
                                </p>

                            </div>
                        </div>



                        <div class="col-lg-4 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <div class="card py-5 px-5" >

                                <p style="font-size: 5em; position:absolute; right: 5%; top: -25px; "><i class="fas fa-bookmark text-info"></i> </p>

                                <div style="min-height: 170px; vertical-align: middle; text-align: center; ">
                                    <p  class="mt-5 px-2 text-center" style="line-height: 2.2em;">
                                     ကိုယ်ပိုင်အလင်းနဲ့ အကောင်းဆုံးဖြစ်ပါစေ
                                    </p>
                                </div>

                                <p> 
                                    <span class="badge badge-info"><i class="fas fa-star"></i>  </span>
                                </p>

                            </div>
                        </div>


                    </div>

                </div>
            </div>

        </section>

    </div>
</div>