<div class="landing-page">
    <div class="wrapper">
        <div class="page-header">
            <img src="../assets/img/blob.png" class="path">
            <img src="../assets/img/path2.png" class="path2">
            <img src="../assets/img/triunghiuri.png" class="shapes triangle">
            <img src="../assets/img/waves.png" class="shapes wave">
            <img src="../assets/img/patrat.png" class="shapes squares">
            <img src="../assets/img/cercuri.png" class="shapes circle">


            <div class="content-center mt-5">
                    <div class="row row-grid justify-content-center align-items-center text-center mt-5">

                      
                        <div class="col-lg-12 px-5">
                            <h1 class="hit-the-floor"><i class="fas fa-heart"></i></h1>
                            <h1 class="hit-the-floor">Heart</h1>
                            <h5 class="text-center glass-container card highlightmarker">
                                <span class="highlightmarker">... Welcome to My Heart Dictionary ....</span>
                            </h5>
                        </div>

                    </div>
            </div>

        </div>


        <section class="section section-lg">

            <img src="../assets/img/path4.png" class="path">
            <div class="container">
                <div class="content-center">

                    <p class="text-center">

                        <svg width="150px" height="100px" viewBox="0 0 473 202" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                            <polyline class="draw" id="Path" stroke="#c221a9" points="0.860997095 138.873289 134.14231 138.873289 179.72196 34.956929 236.304886 138.873289 263.697613 105.869702 281.135589 201.291758 309.757837 0.748786887 334.928688 138.873289 345.694798 163.251505 367.064745 131.32765 400.98579 101.020272 425.307836 131.32765 472.74737 131.32765"></polyline>
                        </svg>
                        

                    </p>

                    <h1 class="hit-the-floor">A - Z</h1>
                   
                    <div class="row row-grid justify-content-center align-items-center text-center">

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Alone', 'I stay alone but I am not lonely', 'gold', 'fas fa-star')" class="icon-big text-center snowbtn fa-blue-btn">
                               <h1 id="fa-blue">A</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Believe', 'Just Believe in yourself no matter what', 'gold', 'fas fa-star')" class="icon-big text-center snowbtn fa-red-btn">
                                <h1 id="fa-red">B</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Care', 'Self-Care is not selfish. Yes, this is self-love', 'gold', 'fas fa-water')" class="icon-big text-center snowbtn fa-blue-btn">
                                <h1 id="fa-blue">C</h1>
                            </a>
                        </div>


                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Dream', 'Dream Big', 'gold', 'fas fa-moon')" class="icon-big text-center snowbtn fa-blue-btn">
                                <h1 id="fa-blue">D</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Early', 'Sleep Early and Wake up Early', 'gold', 'fas fa-sun')" class="icon-big text-center snowbtn fa-orange-btn">
                                <h1 id="fa-orange">E</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Forever', 'The one who live with you all your lifetime is you.', 'gold', 'fas fa-sun')" class="icon-big text-center snowbtn fa-yellow-btn">
                                <h1 id="fa-yellow">F</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Greatful', 'Be Greatful of what you have now', 'gold', 'fas fa-clock')" class="icon-big text-center snowbtn fa-orange-btn">
                                <h1 id="fa-orange">G</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('High Hope', 'Aim High. Shoot for the star', 'gold', 'fas fa-paper-plane')" class="icon-big text-center snowbtn fa-blue-btn">
                                <h1 id="fa-blue">H</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('I', 'I am not perfect. This is me.', 'gold', 'fas fa-heartbeat')" class="icon-big text-center snowbtn fa-yellow-btn">
                                <h1 id="fa-yellow">I</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Joy', 'Here my advice for finding joy. Whatever you do, just do with all your heart.', 'gold', 'fas fa-laugh-wink')" class="icon-big text-center snowbtn fa-yellow-btn">
                                <h1 id="fa-yellow">J</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Kite', 'Kites rise highest against the wind - not with it.', 'gold', 'fas fa-wind')" class="icon-big text-center snowbtn fa-yellow-btn">
                                <h1 id="fa-yellow">K</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Love', 'Love Yourself First', 'gold', 'fas fa-heart')" class="icon-big text-center snowbtn fa-red-btn">
                                <h1 id="fa-red">L</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Marry', 'Marry Yourself first - promise never to leave you', 'gold', 'fas fa-heart')" class="icon-big text-center snowbtn fa-red-btn">
                                <h1 id="fa-red">M</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Never', 'Never cheat yourself for something you do not want', 'gold', 'fas fa-heart')" class="icon-big text-center snowbtn fa-red-btn">
                                <h1 id="fa-red">N</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Other', 'Whatever others say about you, the final decision must be made by yourself.', 'gold', 'fas fa-star')" class="icon-big text-center snowbtn fa-orange-btn">
                                <h1 id="fa-orange">O</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Promise', 'If you really love me, promise me that you will never ever do the bad things from now on.', 'gold', 'fas fa-star')" class="icon-big text-center snowbtn fa-blue-btn">
                                <h1 id="fa-blue">P</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Queen', 'She was not a queen. She was not a princess. She was a warrior.', 'gold', 'fas fa-crown')" class="icon-big text-center snowbtn fa-yellow-btn">
                                <h1 id="fa-yellow">Q</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Rebel', 'You little rebel, I like you', 'gold', 'fas fa-user-astronaut')" class="icon-big text-center snowbtn fa-orange-btn">
                                <h1 id="fa-orange">R</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Star', 'only in the darkness can you see the stars', 'gold', 'fas fa-star')" class="icon-big text-center snowbtn fa-blue-btn">
                                <h1 id="fa-blue">S</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Teddy bear', 'You are never too old for a teddy bear.', 'gold', 'fas fa-heart')" class="icon-big text-center snowbtn fa-orange-btn">
                                <h1 id="fa-orange">T</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('You', 'You are beautiful just the way you are', 'gold', 'fas fa-heart')" class="icon-big text-center snowbtn fa-orange-btn">
                                <h1 id="fa-orange">U</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Victory', 'True victory is victory over oneself', 'gold', 'fas fa-mountain')" class="icon-big text-center snowbtn fa-orange-btn">
                                <h1 id="fa-orange">V</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Work', 'IF you are tired, learn to rest. Not to Quit', 'gold', 'fas fa-tree')" class="icon-big text-center snowbtn fa-blue-btn">
                                <h1 id="fa-blue">W</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Xiao Yuan', 'Hi there, I am Xiao Yuan', 'gold', 'fas fa-laugh-wink')" class="icon-big text-center snowbtn fa-red-btn">
                                <h1 id="fa-red">X</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Yo', 'Yo! Thank you so much for reading me', 'gold', 'fas fa-star')" class="icon-big text-center snowbtn fa-purple-btn">
                                <h1 id="fa-purple">Y</h1>
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-12 py-5 d-flex justify-content-center text-center">
                            <a (click)="showToast('Zero', 'When you reach the ground, remember this one. The only way is up. Courage!', 'gold', 'fas fa-mountain')" class="icon-big text-center snowbtn fa-orange-btn">
                                <h1 id="fa-orange">Z</h1>
                            </a>
                        </div>

                       
                    </div>

                </div>
            </div>

        </section>

    </div>
</div>