<div class="landing-page">
    <div class="wrapper">
        <div class="page-header">
            <img src="../assets/img/blob.png" class="path">
            <img src="../assets/img/path2.png" class="path2">
            <img src="../assets/img/triunghiuri.png" class="shapes triangle">
            <img src="../assets/img/waves.png" class="shapes wave">
            <img src="../assets/img/patrat.png" class="shapes squares">
            <img src="../assets/img/cercuri.png" class="shapes circle">


            <div class="content-center">
                <div class="row row-grid justify-content-center align-items-center text-center">

                    <div class="col-lg-6">
                        <h1 class="hit-the-floor"><i class="fas fa-sun"></i></h1>
                        <h1 class="hit-the-floor">The Sun</h1>
                        <h5 class="text-center glass-container card highlightmarker py-2">
                            <span class="highlightmarker">... Sun Rise --- Sun Set ....</span>
                        </h5>
                    </div>

                    <div class="col-lg-6">
                        <div class="card py-5" *ngFor="let suntime of currentSunTimeList">
                            <p class="text-success" >
                                Sunrise :  {{ suntime.sunrise }}
                            </p>
                            <p class="text-info">
                                Sunset :  {{ suntime.sunset }}
                            </p>
                            <p class="text-warning">
                                Solar Noon :  {{ suntime.solar_noon }}
                            </p>
                            <p class="text-warning">
                                Day Length :  {{ suntime.day_length }}
                            </p>
                            <p>
                                Location : Yangon, Myanmar 
                            </p>
                            <p>
                                Time Zone : UTC
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        
    </div>
</div>