<div class="landing-page">
    <div class="wrapper">
        <div class="page-header text-center py-5" style="justify-content: center; align-items: center;">
            <!-- <img src="../assets/img/garden.png" class="img-fluid" style="width: 77%;" > -->
            <img src="../assets/img/blob.png" class="path">
            <img src="../assets/img/path2.png" class="path2">
            <img src="../assets/img/triunghiuri.png" class="shapes triangle">
            <img src="../assets/img/waves.png" class="shapes wave">
            <img src="../assets/img/patrat.png" class="shapes squares">
            <img src="../assets/img/cercuri.png" class="shapes circle">


            <div class="content-center">
                <div class="row row-grid justify-content-center align-items-center text-center">

                    <div class="col-lg-6">
                        <h1 class="hit-the-floor"><i class="fas fa-envelope"></i></h1>
                        <h1 class="hit-the-floor">Contact</h1>
                       
                    </div>

                    <div class="col-lg-6">
                        <div class="card px-2 py-5">
                            <div>
                              <div class="icon highlightmarker">
                                <i class="fas fa-at mb-2" style="font-size: 3em;"></i>
                              </div>
                              <p class="text-center highlightmarker"> Feel free to say hello at  </p>
                             
                              <a class="highlightmarker" href="mailto:hello.xiaoyuanlv@gmail.com">
                                hello.xiaoyuanlv@gmail.com
                              </a>

                            
                              <h4 class="text-center icon highlightmarker mt-3"> <i class="fab fa-whatsapp highlightmarker mr-2 " style="font-size: 1.7em;"></i> <i class="fab fa-viber highlightmarker" style="font-size: 1.7em;"></i>  </h4>

                              <p class="highlightmarker" >
                                (+95) 09 790-775-775
                              </p>

                            </div>
                          </div>
                    </div>

                   
                </div>
            </div>
        </div>
        
    </div>
</div>