<div class="landing-page">
    <div class="wrapper">
        <div class="page-header">
            <img src="../assets/img/blob.png" class="path">
            <img src="../assets/img/path2.png" class="path2">
            <img src="../assets/img/triunghiuri.png" class="shapes triangle">
            <img src="../assets/img/waves.png" class="shapes wave">
            <img src="../assets/img/patrat.png" class="shapes squares">
            <img src="../assets/img/cercuri.png" class="shapes circle">


            <div class="content-center mt-5">
                <div class="row row-grid justify-content-center align-items-center text-center mt-5">
                    <div class="col-lg-12 px-5">
                        <h1 class="hit-the-floor"><i class="fas fa-certificate"></i></h1>
                        <h1 class="hit-the-floor">Skill</h1>
                        <h5 class="text-center glass-container card highlightmarker">
                            <span class="highlightmarker">... 
                                Learn & Develop
                            ....</span>
                        </h5>
                    </div>

                </div>
            </div>

        </div>


        <div class="features-2">
            <div class="container">
              <div class="row align-items-center">
               
                <div class="col-lg-12 col-md-12">
                  <div class="row">
                    <div class="col-lg-4 col-md-4">
                      <div class="info text-center card px-5 py-5">
                        <div class="icon icon-success">
                          <i class="fab fa-android text-success"></i>
                        </div>
                        <h4 class="info-title text-success">Android</h4>
                        <p class="highlightmarker">
                          <span class="badge badge-success mr-2">Kotlin</span> <span class="badge badge-success mr-2">Java</span>   <span class="badge badge-success mr-2">MVVM</span> 
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="info text-center card px-2 py-5">
                        <div class="icon icon-white">
                          <i class="fab fa-apple text-warning"></i>
                        </div>
                        <h4 class="info-title text-warning">iOS</h4>
                        <p class="highlightmarker">
                          <span class="badge badge-warning mr-2">SwiftUI</span> <span class="badge badge-warning mr-2">UIKit</span>  <span class="badge badge-warning mr-2">MVVM</span> 
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                      <div class="info text-center card px-2 py-5">
                        <div class="icon icon-info">
                          <i class="fab fa-js text-info"></i>
                        </div>
                        <h4 class="info-title text-info">Js</h4>
                        <p class="highlightmarker">
                           <span class="badge badge-info mr-2">Javascript</span> <span class="badge badge-info mr-2">Typescript</span>  <span class="badge badge-info mr-2">React</span>  
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
        
                    <div class="col-lg-6 col-md-6">
                      <div class="info text-center card px-2 py-5">
                        <div class="icon icon-info">
                          <i class="fab fa-sketch text-info"></i> 
                        </div>
                        <h4 class="info-title text-info">Design</h4>
                        <p class="highlightmarker">
                          <span class="badge badge-info mr-2">Photoshop</span>  <span class="badge badge-info mr-2">Sketch</span> <span class="badge badge-info mr-2">Figma</span> 
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="info text-center card px-2 py-5">
                        <div class="icon icon-white">
                          <i class="fas fa-scroll text-danger"></i>
                        </div>
                        <h4 class="info-title text-danger">Cryptography</h4>
                        <p class="highlightmarker">
                          <span class="badge badge-danger mr-2">hieroglyphics</span>   <span class="badge badge-danger mr-2">Caesar Cipher</span>  <span class="badge badge-danger mr-2">kryptos</span> 
                        </p>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        

    </div>
</div>